*{margin:0;padding:0;}
.container{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
header{
	width: 100%;
	height: 1.3333333rem;
	background: #47c9af;
	display: flex;
	align-items: center;
	.header-left{
		margin-left:.5rem;
		width:.45rem;
		height: .8rem;
		background: url('../img/back.png') no-repeat;
		background-size:100% auto;
		display: none;
	}
	.header-main{
		flex: 1;
		color:#fff;
		font-size:.6rem;
		text-align: center;
	}
	.header-right{
		margin-right:.5rem;
		width:.8rem;
		height: .8rem;
		background: url('../img/bookmark.png') no-repeat;
		background-size:100% auto;
		display: none;
	}

}



section{
	flex:1;
}
footer{

}