/*--------------------main-----------------------*/
* {
    margin: 0;
    padding: 0;
}
body {
    background: #ffffff;
    font-size: 14px;
}
a{
    text-decoration: none;
    color: #000000;
}
ul{
    list-style: none;
}


/*--------------------header-----------------------*/
header{
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #CCCCCC;
    font-size: 1.5rem;
    overflow: hidden;
}

/*header logo*/
header nav .logo{
    float: left;
}
header nav .logo:before{
    margin-right:10px;
    content: "S";
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background: #47c9af;
    line-height: 30px;
    text-align: center;
    color: #f6f6f6;
}

/*header navigation*/
header nav ul{
    font-size: 1rem;
    text-align: right;
}
header nav ul li{
    line-height: 30px;
    display: inline-block;
}
header nav ul li+li{
    margin-left: 40px;
}

/*header media*/
.row-width{
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (min-width: 768px){
    .row-width{
        width: 760px;
    }
    header nav ul{
        font-size: 0.8rem;
    }
}
@media only screen and (min-width: 996px){
    .row-width{
        width: 980px;
    }
    header nav ul{
        font-size: 1rem;
    }
}

/*header logo media*/
@media only screen and (max-width: 768px){
    header{
        padding-left: 40px;
    }
    header nav ul{
        display: none;
    }
}



/*--------------------advertise-----------------------*/
/*section*/
.ad{
    background-image: url("../imgs/chicago_large.jpg");
    background-size: cover;
    position: relative;
}
.ad:before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
}
/*advertise content*/
.ad-content{
    padding-top: 80px;
    padding-bottom: 100px;
    text-align: center;
}
.ad-content h1, .ad-content h2, .ad-content button{
    color: #f6f6f6;
    position: relative;
}
.ad-content h1{
    font-size: 1.5rem;
}
.ad-content h1:after{
    content: "";
    display: block;
    width: 300px;
    height: 1px;
    margin: 20px auto;
    background: #f6f6f6;
}
.ad-content h2{
    font-size: 1rem;
    max-width: 50%;
    margin: 30px auto;
}
.ad-content button{
    font-size: 1rem;
    border-radius: 4px;
    background: #f6f6f6;
    color: rgb(119,149,248);
    padding: 10px 30px;
}

/*--------------------article-----------------------*/
/*section*/
.article{
    background: rgb(244,243,244);
    padding: 100px 0;
}
.articles{
    display: flex;
}
/*content*/
.articles-content{
    flex: 1;
    max-width: 50%;
}
.articles-img{
    flex: 1;
    max-width: 50%;
}
.articles-img img{
    max-width: 100%;
    margin: 0 auto;
    display: block;
}
/*content h1*/
.articles-content h1{
    padding-top: 20px;
}
.articles-content h1:after{
    content: "";
    width: 100px;
    height: 3px;
    background: #CCCCCC;
    display: block;
    margin-top: 40px;
}
/*content p*/
.articles-content p{
    margin: 20px 0;
    padding-right: 30px;
    letter-spacing: 0.2px;
    line-height: 1.8rem;
    font-size: 12px;
}
/*content button*/
.articles-content button{
    cursor: pointer;
    padding: 10px 30px;
    background: #47c9af;
    color: #f6f6f6;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: rgba(50, 50, 93, 0.11) 2px 4px 6px, rgba(0, 0, 0, 0.08) 0px 1px 3px;
}
/*media content*/
@media only screen and (max-width: 768px){
    .article{
        padding: 80px 0;
    }
    .articles{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .articles-content p, .articles-content h1{
        padding-right: 0;
    }
    .articles-content{
        margin-bottom: 30px;
    }
}

/*--------------------footer-----------------------*/
/*footer*/
footer{
    background: #ffffff;
    padding: 50px 0;
}
footer ul{
    display: flex;
}
footer ul li{
    width: 25%;
}
footer ul li img{
    display: block;
    margin: 0 auto;
}
/*media*/
@media only screen and (max-width: 768px){
    footer ul{
        flex-direction: column;
    }
    footer ul li{
        width: 100%;
        margin:10px 0;
    }
}
@media only screen and (min-width: 768px) and (max-width: 996px){
    footer ul{
        flex-wrap: wrap;
    }
    footer ul li{
        width: 50%;
        margin:10px 0;
    }
}
